name: Unit Tests

# Run on any changes in public_html
on:
  pull_request:
    paths:
    - public_html/**
    - .github/workflows/**
    - phpunit.*
  push:
    branches: [production]
    paths:
    - public_html/**
    - .github/workflows/**
    - phpunit.*

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  unit-js:
    name: JavaScript

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: actions/cache@v4
      with:
        path: '**/node_modules'
        key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}

    - name: Use Node.js 20.x
      uses: actions/setup-node@v4
      with:
        node-version: 20.x

    - name: Install dependencies
      # We don't need to build, since jest can interpret the source files.
      run: yarn

    # Run the Blocks unit tests. If/when other workspaces get tests, those would be added here.
    - name: Running the tests
      run: yarn workspace wordcamp-blocks run test

  unit-php:
    name: PHP Tests

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        php-version: ['8.1', '8.4', '8.5']

    steps:
    - uses: actions/checkout@v4

    - name: Install SVN
      run: |
        sudo rm -f /var/lib/man-db/auto-update # https://github.com/actions/runner-images/issues/10977
        sudo apt-get update && sudo apt-get install -y subversion

    - name: Use Node.js 20.x
      uses: actions/setup-node@v4
      with:
        node-version: 20.x

    - name: Set up PHP for Composer
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.1'
        coverage: none
        tools: composer:v2
      env:
        COMPOSER_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Install dependencies
      run: |
        rm composer.lock || true
        composer install
        yarn

    - name: Build JS assets
      run: yarn workspaces run build

    - name: Configure wp-env for CI
      run: echo '{ "phpVersion":"${{ matrix.php-version }}", "multisite":false }' > .wp-env.override.json

    - name: Start wp-env
      run: npx wp-env start || (echo y | npx wp-env destroy && sleep 10 && npx wp-env start)

    - name: Running unit tests
      run: npx wp-env run tests-cli --env-cwd=/var/www/html /var/www/html/wp-content/mu-plugins/vendor/bin/phpunit -c phpunit.xml.dist
